<!doctype html>
<html lang="en">
<head th:replace=" layout :: head">
</head>

<body>

<nav th:replace="layout :: nav">
</nav>

  <div class="grid-container">
    <div th:replace="layout :: flash"></div>
    <div class="grid-100">
      <a th:href="@{/}">
        <h1>
          <img src="../assets/images/chefbot.svg" height="60px"/>
          <br></br>
          My Recipes
        </h1>
      </a>
    </div>

    <div class="grid-100">

      <div class="recipes">

        <div class="grid-100 row controls">
          <div class="grid-50">
            <h2 th:text="${recipe.name}"> Brioche French Toast with Nutella </h2>
          </div>
          <div class="grid-50">
            <h2 class="flush-right">
                <form th:action="@{|/favorite/${recipe.id}|}" method="post">
                  <button style="background: transparent" type="submit">
                  <img th:src="${recipe.isFavorite(user)} ? @{/assets/images/favorited.svg} : @{/assets/images/favorite.svg}" height="16px"/>
                  </button>
                </form>
            </h2>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Photo </label>
            </p>
          </div>
          <div class="grid-40">
            <p th:if="${recipe.url} != ''">
              <img th:src="${recipe.url}" width="500px" height="500px"/>
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Name </label>
            </p>
          </div>
          <div class="grid-40">
            <p th:text="${recipe.name}">
              Brioche French Toast with Nutella
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Description </label>
            </p>
          </div>
          <div class="grid-40">
            <p th:text="${recipe.description}">
              Yummmy dessert toast covered in egg wash and topped with nutella and seasonal fruit.
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Category </label>
            </p>
          </div>
          <div class="grid-30">
            <p th:if="${recipe.category} != null" th:text="${recipe.category.name}">
              Category
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Prep Time </label>
            </p>
          </div>
          <div class="grid-20">
            <p th:text="${recipe.prepTime}">
              prep time
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Cook Time </label>
            </p>
          </div>
          <div class="grid-20">
            <p th:text="${recipe.cookTime}">
              cook time
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Ingredients </label>
            </p>
          </div>
          <div class="grid-30">
            <p>
              <label> Item </label>
              </p>
            </div>
            <div class="grid-30">
              <p>
                <label> Condition </label>
                </p>
              </div>
              <div class="grid-20">
                <p>
                  <label> Quantity </label>
                  </p>
                </div>

          <div th:each="ingredient : ${recipe.ingredients}" class="ingredient-row">
            <div class="prefix-20 grid-30">
              <p th:text="${ingredient.name}"></p>
            </div>
            <div class="grid-30">
              <p th:text="${ingredient.condition}"></p>
            </div>
            <div class="grid-10 suffix-10">
              <p th:text="${ingredient.quantity}"></p>
            </div>
          </div>

              </div> <div class="clear"></div>

              <div class="grid-100 row">
                <div class="grid-20">
                  <p>
                    <label> Steps </label>
                  </p>
                </div>
                <div class="grid-80">
                  <p>
                    <label> Description </label>
                    </p>
                  </div>
                <div th:each="instruction : ${recipe.instructions}" class="step-row">
                  <div class="prefix-20 grid-80">
                    <p th:text="${instruction.description}"></p>
                  </div>
                </div>

                </div> <div class="clear"></div>

                <div class="row">&nbsp;</div>

              </div> <!-- recipes -->
            </div> <!-- grid-100 -->
          </div> <!-- grid-container -->
        </body>
        </html>
