<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>

<body>

<nav th:replace="layout :: nav">
</nav>


  <div class="grid-container">

    <div class="grid-100">
      <a href="index.html">
        <h1>
          <img src="../images/chefbot.svg" height="60px"/>
          <br></br>
          My Recipes
        </h1>
      </a>
    </div>

    <div class="grid-100">
      <form method="post" th:object="${recipe}" th:action="@{${action}}">
      <div class="recipes">

        <div class="grid-100 row controls">
          <div class="grid-50">
            <h2> Recipe Editor </h2>
          </div>
          <div class="grid-50">
            <div class="flush-right">
              <button type="submit">Save Recipe</button>
              <button  class="secondary">Cancel</button>
            </div>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p class="label-spacing">
              <label> Photo </label>
            </p>
          </div>
          <div class="grid-40">
            <p>
              <input placeholder="Url"/>
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p class="label-spacing">
              <label> Name </label>
            </p>
          </div>
          <div class="grid-40">
            <p>
              <input th:field="*{name}"/>
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p class="label-spacing">
              <label> Description </label>
            </p>
          </div>
          <div class="grid-40">
            <p>
              <textarea th:field="*{description}"> </textarea>
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p class="label-spacing">
              <label> Category </label>
            </p>
          </div>
          <div class="grid-30">
            <p>
              <select>
                <option value="">All Categories</option>
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="dessert">Dessert</option>
              </select>
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p class="label-spacing">
              <label> Prep Time </label>
            </p>
          </div>
          <div class="grid-20">
            <p>
              <input th:field="*{prepTime}"/>
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p class="label-spacing">
              <label> Cook Time </label>
            </p>
          </div>
          <div class="grid-20">
            <p>
              <input th:field="*{cookTime}"/>
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p class="label-spacing">
              <label> Ingredients </label>
            </p>
          </div>
          <div class="grid-30">
            <p class="label-spacing">
              <label> Item </label>
              </p>
            </div>
            <div class="grid-30">
              <p class="label-spacing">
                <label> Condition </label>
                </p>
              </div>
              <div class="grid-20">
                <p class="label-spacing">
                  <label> Quantity </label>
                  </p>
                </div>
          <div th:each="ingredient : ${ingredients}" class="ingredient-row">
            <div class="prefix-20 grid-30">
              <input type="hidden" th:field="*{ingredients[__${ingredientStat.index}__].id}" th:value="${ingredient.id}"/>
              <p>
                <input type="text" th:field="*{ingredients[__${ingredientStat.index}__].name}" th:value="${ingredient.name}"/>
              </p>
            </div>
            <div class="grid-30">
              <p>
                <input type="text" th:field="*{ingredients[__${ingredientStat.index}__].condition}" th:value="${ingredient.condition}"/>
              </p>
            </div>
            <div class="grid-10 suffix-10">
              <p>
                <input type="text" th:field="*{ingredients[__${ingredientStat.index}__].quantity}" th:value="${ingredient.quantity}"/>
              </p>
            </div>
          </div>
                <div class="prefix-20 grid-80 add-row">
                  <p>
                    <button type="button" id="addIngredient">+ Add Another Ingredient</button>
                  </p>
                </div>

              </div> <div class="clear"></div>

              <div class="grid-100 row">
                <div class="grid-20">
                  <p class="label-spacing">
                    <label> Steps </label>
                  </p>
                </div>
                <div class="grid-80">
                  <p class="label-spacing">
                    <label> Description </label>
                    </p>
                  </div>

                  <div class="step-row">
                    <div class="prefix-20 grid-80">
                      <p>
                        <input/>
                      </p>
                    </div>
                  </div>

                  <div class="step-row">
                    <div class="prefix-20 grid-80">
                      <p>
                        <input/>
                      </p>
                    </div>
                  </div>

                  <div class="step-row">
                    <div class="prefix-20 grid-80">
                      <p>
                        <input/>
                      </p>
                    </div>
                  </div>

                  <div class="prefix-20 grid-80 add-row">
                    <p>
                      <button>+ Add Another Step</button>
                    </p>
                  </div>

                </div> <div class="clear"></div>

                <div class="row">&nbsp;</div>
              </div> <!-- recipes -->
      </form>
            </div> <!-- grid-100 -->
          </div> <!-- grid-container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../js/app.js"></script>


        </body>



        </html>
