<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace=" layout :: head">
</head>

<body>

  <nav th:replace="layout :: nav">
  </nav>

  <div class="grid-container">

    <div class="grid-100">
      <a th:href="@{/}">
        <h1>
          <img src="../assets/images/chefbot.svg" height="60px"/>
          <br></br>
          My Recipes
        </h1>
      </a>
    </div>

    <div class="grid-100">

      <div class="recipes">

        <div class="grid-100 row controls">
          <div class="grid-30">
            <select>
              <option value="">All Categories</option>
              <option value="breakfast">Breakfast</option>
              <option value="lunch">Lunch</option>
              <option value="dinner">Dinner</option>
              <option value="dessert">Dessert</option>
            </select>
          </div>
          <div class="grid-40">
            <input placeholder="Search"></input>
          </div>
          <div class="grid-30">
            <div class="flush-right">
              <a href="/new"><button>+ Add Recipe</button></a>
            </div>
          </div>
        </div> <div class="clear"></div>

        <div th:each="recipe : ${recipes}">
          <a href="detail.html">
            <div class="grid-70">
              <p>
                <span>
                  <form th:action="@{|/favorite/${recipe.id}|}" method="post">
                    <button style="background: transparent" type="submit">
                    <img th:src="${recipe.isFavorite(user)} ? @{/assets/images/favorited.svg} : @{/assets/images/favorite.svg}" height="12px"/>
                    </button>
                  </form></span>
                <a th:href="@{|/detail/${recipe.id}|}"><span th:text="${recipe.name}"></span></a>
              </p>
            </div>
          </a>
          <div class="hoverBlock">
            <div class="grid-30">
              <div class="flush-right">
                <p>
                  <a th:href="@{/edit/{recipeId}(recipeId=${recipe.id})}"> <img src="../assets/images/edit.svg" height="12px"/> Edit </a>
                  <a th:href="@{/delete/{recipeId}(recipeId=${recipe.id})}"> <img src="../assets/images/delete.svg" height="12px"/> Delete </a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="grid-100 row addHover">-->
          <!--<a href="detail.html">-->
            <!--<div class="grid-70">-->
              <!--<p>-->
                <!--<span><img src="../images/favorite.svg" height="12px"/> </span>-->
                <!--Baked Alaskan Salmon with Asparagus-->
              <!--</p>-->
            <!--</div>-->
          <!--</a>-->
          <!--<div class="hoverBlock">-->
            <!--<div class="grid-30">-->
              <!--<div class="flush-right">-->
                <!--<p>-->
                  <!--<a href="edit"> <img src="../images/edit.svg" height="12px"/> Edit </a>-->
                  <!--<a href="#"> <img src="../images/delete.svg" height="12px"/> Delete </a>-->
                <!--</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div> <div class="clear"></div>-->

        <!--<div class="grid-100 row addHover">-->
          <!--<a href="detail.html">-->
            <!--<div class="grid-70">-->
              <!--<p>-->
                <!--<span><img src="../images/favorited.svg" height="12px"/> </span>-->
                <!--Broiche French Toast with Nutella-->
              <!--</p>-->
            <!--</div>-->
          <!--</a>-->
          <!--<div class="hoverBlock">-->
            <!--<div class="grid-30">-->
              <!--<div class="flush-right">-->
                <!--<p>-->
                  <!--<a href="#"> <img src="../images/edit.svg" height="12px"/> Edit </a>-->
                  <!--<a href="#"> <img src="../images/delete.svg" height="12px"/> Delete </a>-->
                <!--</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div> <div class="clear"></div>-->

        <!--<div class="grid-100 row addHover">-->
          <!--<a href="detail.html">-->
            <!--<div class="grid-70">-->
              <!--<p>-->
                <!--<span><img src="../images/favorite.svg" height="12px"/> </span>-->
                <!--Simple Miso Soup with Clams and Sake-->
              <!--</p>-->
            <!--</div>-->
          <!--</a>-->
          <!--<div class="hoverBlock">-->
            <!--<div class="grid-30">-->
              <!--<div class="flush-right">-->
                <!--<p>-->
                  <!--<a href="#"> <img src="../images/edit.svg" height="12px"/> Edit </a>-->
                  <!--<a href="#"> <img src="../images/delete.svg" height="12px"/> Delete </a>-->
                <!--</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div> <div class="clear"></div>-->

        <!--<div class="grid-100 row addHover">-->
          <!--<a href="detail.html">-->
            <!--<div class="grid-70">-->
              <!--<p>-->
                <!--<span><img src="../images/favorite.svg" height="12px"/> </span>-->
                <!--Paleo Squash Noodles with Chicken Breast-->
              <!--</p>-->
            <!--</div>-->
          <!--</a>-->
          <!--<div class="hoverBlock">-->
            <!--<div class="grid-30">-->
              <!--<div class="flush-right">-->
                <!--<p>-->
                  <!--<a href="#"> <img src="../images/edit.svg" height="12px"/> Edit </a>-->
                  <!--<a href="#"> <img src="../images/delete.svg" height="12px"/> Delete </a>-->
                <!--</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div> <div class="clear"></div>-->

        <div class="row">&nbsp;</div>

      </div> <!-- recipes -->
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
</body>
</html>
