<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace=" layout :: head">
</head>

<body>

  <nav th:replace="layout :: nav">
  </nav>

  <div class="grid-container">
    <div th:replace="layout :: flash"></div>
    <div class="grid-100">
      <a th:href="@{/}">
        <h1>
          <img src="../assets/images/chefbot.svg" height="60px"/>
          <br></br>
          My Recipes
        </h1>
      </a>
    </div>

    <div class="grid-100">

      <div class="recipes">

        <div class="grid-100 row controls">
          <div class="grid-30">
            <form th:action="@{/category}" method="get" style="display:inline">
            <select name="category" style="width:61%">
              <option value="">All Categories</option>
              <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}">Category</option>
            </select>
              <button style="display: inline; width: 34%" type="submit">Filter</button>
            </form>
          </div>
          <form th:action="@{/search}" method="get" style="display:inline">
            <div class="grid-40">
              <input id="search" name="searchTerm" th:value="${searchTerm}" placeholder="Search"/>
              <button style="display: inline;" type="submit">Search</button>
            </div>
          </form>
          <div class="grid-30">
            <div class="flush-right">
              <a href="/new"><button>+ Add Recipe</button></a>
            </div>
          </div>
        </div> <div class="clear"></div>

        <div th:each="recipe : ${recipes}" class=" grid-100 row addHover">
          <a href="detail.html">
            <div class="grid-70">


                  <form th:action="@{|/favorite/${recipe.id}|}" style="display: inline" method="post">
                    <button style="background: transparent" type="submit">
                    <img th:src="${recipe.isFavorite(user)} ? @{/assets/images/favorited.svg} : @{/assets/images/favorite.svg}" height="12px"/>
                    </button>
                  </form>
                <a th:href="@{|/detail/${recipe.id}|}"><span th:text="${recipe.name}"></span></a>

            </div>
          </a>
          <div class="hoverBlock">
            <div class="grid-30">
              <div class="flush-right">
                  <a th:href="@{/edit/{recipeId}(recipeId=${recipe.id})}"> <img src="../assets/images/edit.svg" height="12px"/> Edit </a>
                  <form th:action="@{/delete/{recipeId}(recipeId=${recipe.id})}" style="display: inline" method="post">
                    <button style="background: transparent; color: #808080"> <img src="../assets/images/delete.svg" height="12px"/> Delete </button>
                  </form>
              </div>
            </div>
          </div>
        </div>

        <div class="row">&nbsp;</div>

      </div> <!-- recipes -->
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
</body>
</html>
