<html xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>My Recipes</title>

    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../assets/css/unsemantic-grid-responsive.css"/>
    <link rel="stylesheet" href="../assets/css/styles.css"/>

</head>
<nav th:fragment="nav">
    <a sec:authentication="name" th:href="@{/profile/}">
    </a>
    &bull;
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">
        logout
    </a>
</nav>

<div th:fragment="flash">
    <div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div>
</div>
</html>